[submodule "thirdparty/thirdparty/SDL2"]
	path = thirdparty/thirdparty/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
